<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Local CSS -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!-- Fake favicon, to avoid extra request to server -->
        <link rel="icon" type="image/png" href="/static/assets/logo-sm.ico">

        <title>
            KMN Antrian
        </title>
    </head>
    <body class="p-5">
    {{ if .ChangesSaved }}
        <div class="alert alert-success">
            Text berhasil disimpan!
        </div>
    {{ end }}

        <h1>{{ .Branch }}</h1>
        <form method="POST">
            <div class="form-group">
                <label>Pesan Cabang</label>
                <textarea type="text" class="form-control" name="branch" placeholder="Tulis pesan untuk cabang keseluruhan" rows="3">{{ .BranchNotification }}</textarea>
            </div>
            <hr>
            <div>
                <h3>OPR flow</h3>
            {{ range $room := .OprRooms }}
                <div class="form-group">
                    <label>{{ $room.Name }} ({{ $room.Code }})</label>
                    <input type="text" class="form-control" name="{{ $room.Code }}" value="{{ $room.Notification }}"></input>
                </div>
            {{ end }}
            </div>
            <div>
                <h3>POL flow</h3>
            {{ range $room := .PolRooms }}
                <div class="form-group">
                    <label>{{ $room.Name }} ({{ $room.Code }})</label>
                    <input type="text" class="form-control" name="{{ $room.Code }}" value="{{ $room.Notification }}"></input>
                </div>
            {{ end }}
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
            <button type="submit" class="btn btn-link ml-3" formaction="logout">Logout</button>
        </form>
    </body>
</html>