<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Local CSS -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <!-- MUST use full version of jquery to use AJAX. <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!-- Fake favicon, to avoid extra request to server -->
        <link rel="icon" type="image/png" href="/static/assets/logo-sm.ico">

        <title>
            KMN Antrian
        </title>
    </head>
    <body class="p-5">
        <div class="alert alert-success invisible" id="save-success">
            Text berhasil disimpan!
        </div>

        <h1>{{ .Branch }}</h1>
        <form method="POST">
            <div class="form-group">
                <label>Pesan Cabang</label>
                <textarea type="text" class="form-control" id="branch" placeholder="Tulis pesan untuk cabang keseluruhan" rows="3">{{ .BranchNotification }}</textarea>
            </div>
            <hr>
            <div>
                <label>Pesan Antrian</label>
                <label class="small ml-1">(pastikan tidak ada duplikat)</label>
                
                {{ $ValidQueueCodeList := .ValidQueueCodeList }}
            {{ range $queue := .QueueNotification }}
                <div name="queue-notif-row">
                    <div class="input-group mb-3">
                        <select class="form-select">
                            {{ range $code := $ValidQueueCodeList }}
                                <option value="{{ $code }}" {{ if eq $code $queue.Code }} selected {{ end }}>{{ $code }}</option>
                            {{ end }}
                        </select>
                        <input type="text" class="form-control" placeholder="Tulis pesan antrian" autocomplete="off" value="{{ $queue.Text }}">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-danger">Remove</button>
                        </div>
                    </div>
                </div>
            {{ end }}

                <div id="newRow"></div> <!-- placeholder for append location -->
                <button id="addRow" type="button" class="btn btn-info">Tambah pesan</button>
            </div>
            <hr>

            <button type="submit" class="btn btn-primary" id="save">Simpan</button>
            <button type="submit" class="btn btn-link ml-3" formaction="logout">Logout</button>

            <!-- Local Javascript. Put after HTML as it modifies HTML elements -->
            <script>
                $("div[name='queue-notif-row']").each(function () {
                    var btn = $(this).find(":button"); // remove button
                    btn.on('click', function () {
                        $(this).closest("div[name='queue-notif-row']").remove();
                    });
                });

                $("#addRow").click(function () {
                    var html = '';
                    html += '<div name="queue-notif-row">';
                    html += '   <div class="input-group mb-3">';
                    html += '        <select class="form-select">';
                    html += '            {{ range $code := $ValidQueueCodeList }}';
                    html += '                <option value="{{ $code }}" {{ if eq $code "A" }} selected {{ end }}>{{ $code }}</option>';
                    html += '            {{ end }}';
                    html += '       </select>';
                    html += '       <input type="text" class="form-control" placeholder="Tulis pesan antrian" autocomplete="off">';
                    html += '       <div class="input-group-append">';
                    html += '           <button type="button" class="btn btn-danger">Remove</button>';
                    html += '       </div>';
                    html += '   </div>';
                    html += '</div>';

                    $('#newRow').append(html);
                });

                $("form").on('click', '#save', function (e) {
                    e.preventDefault();

                    var payload = [];
                    var codeAppended = [];
                    
                    payload.push({
                        "Code": "branch",
                        "Text": $("#branch").val(),
                    });

                    var valid = true;
                    $("div[name='queue-notif-row']").each(function() {
                        var code = $(this).find(".form-select").val();

                        if (codeAppended.includes(code)) {
                            alert("Ditemukan beberapa pesan untuk antrian yang sama! Gagal untuk menyimpan")
                            valid = false;
                            return;
                        }

                        payload.push({
                            "Code": code,
                            "Text": $(this).find("input").val(),
                        });
                        codeAppended.push(code)
                    });

                    if (!valid) {
                        return;
                    }

                    $.ajax({
                        url: window.location.href,
                        method: "POST",
                        data: JSON.stringify(payload),
                        success: function(response) {
                            if (response.success) {
                                $("#save-success").removeClass("invisible").addClass("visible");
                            }
                        }
                    }).catch(function (e) {
                        console.log("ERROR: " + a.responseText);
                    });
                });
            </script>
        </form>
    </body>
</html>