<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">        
        <!-- Local CSS -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Bootstrap Bundle JS (including Popper JS). Also add bootstrap-select -->
        <script src="/static/js/jquery-3.6.0.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/bootstrap-select.min.js"></script>
        
        <!-- Handle favicon -->
        <link rel="icon" type="image/png" href="/static/assets/logo-sm.ico">

        <title>
            KMN Antrian
        </title>
    </head>
    <body class="h-100">
        <div class="container text-center p-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-8">
                    {{template "_header" .}}

                    <form action="/search" id="search" method="GET" autocomplete="off">
                        <div>
                            <p class="h5">Selamat datang di KMN EyeCare</p>
                            <p>Untuk mengetahui progress antrian Anda, silakan pilih lokasi KMN EyeCare Anda dan masukkan nomor antrian Anda. Terima kasih</p>
                        </div>
            
                        <div class="m-1">&nbsp;</div>

                        <label class="mb-3">pilih lokasi:</label>
                        <div style="text-align-last: center;">
                            <select class="selectpicker w-100" style="text-align-last: center;" name="branch" id="branch" onchange="updateProcess()">
                                <option value="" class="text-center" style="color: grey;">(klik untuk melihat pilihan)</option>
                                {{ range $branch := .Branches }}
                                    <option value="{{ $branch.Code }}" class="text-center">{{ $branch.Name }}</option>
                                {{ end }}
                            </select>
                        </div>

                        <div class="m-1">&nbsp;</div>

                        <label class="mb-3">pilih proses:</label>
                        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                    {{ range $index, $process := .Processes }}
                        {{ if eq $index 0 }}
                            <label class="btn btn-outline-primary w-100 active p-3" id="{{ $process.Code }}">
                                <input type="radio" class="btn-check" name="process" value="{{ $process.Code }}" autocomplete="off" checked>{{ $process.Name }}
                            </label>
                        {{ else }}
                            <label class="btn btn-outline-primary w-100 p-3" id="{{ $process.Code }}">
                                <input type="radio" class="btn-check" name="process" value="{{ $process.Code }}" autocomplete="off">{{ $process.Name }}
                            </label>
                        {{ end }}
                    {{ end }}
                        </div>

                        <div class="m-1">&nbsp;</div>

                        <label class="mb-3">masukkan nomor antrian:</label>
                        <div class="container">
                            <div id="qnum" class="row">
                                <input class="col mx-1 p-0 qinput rounded" id="qinput1" name="qinput1" type="[a-zA-Z]{1}" maxlength="1" required/>
                                <input class="col mx-1 p-0 qinput rounded" id="qinput2" name="qinput2" pattern="[0-9]{1}" type="number" min="0" max="9" required/>
                                <input class="col mx-1 p-0 qinput rounded" id="qinput3" name="qinput3" pattern="[0-9]{1}" type="number" min="0" max="9" required/>
                                <input class="col mx-1 p-0 qinput rounded" id="qinput4" name="qinput4" pattern="[0-9]{1}" type="number" min="0" max="9" required/>
                            </div>
                        </div>
                        <div class="h-5" style="color:red; opacity: 0; display:none; margin-top:2em;" id="warning">warning</div>

                        <div class="m-1">&nbsp;</div>
                        
                        <button type="submit" class="btn btn-primary kmn-theme">lihat</button>
                    </form>
                </div>
            </div>
        </div>
        
        <script>
            $(document).ready(function () {
                $('.selectpicker').selectpicker();
            });
        </script>
        <script src="/static/js/rtc.js"></script>
        <script src="/static/js/search.js"></script>  
    </body>
</html>