<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Local CSS -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!-- Fake favicon, to avoid extra request to server -->
        <link rel="icon" type="image/png" href="/static/assets/logo-sm.ico">

        <title>
            KMN Antrian
        </title>
    </head>
    <body class="d-flex flex-column">
        <div class="container text-center p-3">
            <div class="col justify-content-center">
                {{template "_header" .}}

                <div class="h5">nomor antrian</div>
                <div class="display-3 font-weight-bold">{{ .Id }}</div>
                <hr class="hr-highlight"/>
        
                <div class="m-2">&nbsp;</div>
        
                <div class="container">
            {{ range $index, $room := .Rooms }}
                {{ if $room.IsActive }}
                    <div class="col-md-6 queue-card mx-auto">
                        <div class="h4">{{ $room.Name }}</div>
                        <div class="h5">pk. {{ $room.Time }}</div>
                    </div>
                    {{ if last $index $.Rooms | not }}
                        <div class="vertical-line mx-auto"></div>
                    {{ end }}
                {{ else }}
                    <div class="col-md-6 queue-card mx-auto" style="color:gainsboro; border-color:gainsboro;">
                        <div class="h4">{{ $room.Name }}</div>
                        <div class="h5">pk. {{ $room.Time }}</div>
                    </div>
                    {{ if last $index $.Rooms | not }}
                        <div class="vertical-line mx-auto" style="background-color: gainsboro;"></div>
                    {{ end }}
                {{ end }}
            {{ end }}
                </div>
                <p class="font-italic mt-3">
                    data diambil pada pk. {{ .LastUpdated }}
                </p>

                <div class="m-2">&nbsp;</div>

                {{ if .BranchNotification }}
                    {{ template "_footer" .BranchNotification }}
                {{ end }}

                {{ if .RoomNotification }}
                    {{ template "_footer" .RoomNotification }}
                {{ end }}
            </div>
        </div>
    </body>

    <!-- Local Javascript. Put after HTML as it modifies HTML elements -->
    <script src="/static/js/rtc.js"></script>
</html>