<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Local CSS -->
        <link rel="stylesheet" href="style.css">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!-- Fake favicon, to avoid extra request to server -->
        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

        <title>
            KMN Antrian
        </title>
    </head>
    <body>
        <div class="d-flex flex-column justify-content-center align-items-center p-4">
            {{template "_header" .}}

            <!-- debug -->
            <div class="h5" style="font-weight: lighter;" id="time"></div>

            <div class="d-flex flex-column justify-content-center">
                <div class="h5">nomor antrian</div>
                <div class="h5">{{ .Id }}</div>
                <hr class="hr-highlight"/>
            </div>
    
            <div class="m-5"></div>
    
            <div class="queue-card">
                <div class="h4">Pra-Operasi</div>
                <div class="h5">Entry 1 second line</div>
            </div>

            <div class="vertical-line"></div>

            <div class="queue-card">
                <div class="h4">Operasi</div>
                <div class="h5">Entry 2 second line</div>
            </div>

            <div class="vertical-line"></div>

            <div class="queue-card">
                <div class="h4">Post-Operasi</div>
                <div class="h5">Entry 3 second line</div>
            </div>

            <div class="vertical-line"></div>

            <div class="dot"></div>
            <div class="h4">Selesai</div>
            <div class="h5">Finaly Entry line</div>
        </div>
    </body>

    <!-- Local Javascript. Put after HTML as it modifies HTML elements -->
    <script src="rtc.js"></script>
</html>