<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Local CSS -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Fake favicon, to avoid extra request to server -->
        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

        <title>
            KMN Antrian
        </title>
    </head>
    <body class="container-md text-center p-4">
        {{template "_header" .}}

        <form action="/" method="POST" id="search-form">
            <label>masukkan nomor antrian</label>
            <br/>
            <div id="qnum" class="d-flex flex-row justify-content-center">
                <input class="qinput mx-2 rounded" id="qinput1" type="[a-zA-Z]{1}" maxlength="1"/>
                <input class="qinput mx-2 rounded" id="qinput2" pattern="[0-9]{1}" type="number" min="0" max="9"/>
                <input class="qinput mx-2 rounded" id="qinput3" pattern="[0-9]{1}" type="number" min="0" max="9"/>
                <input class="qinput mx-2 rounded" id="qinput4" pattern="[0-9]{1}" type="number" min="0" max="9"/>
            </div>
            <!-- [TODO] adjust width -->
            <hr class="hr-highlight"/>
            <!-- [TODO] adjust button style? -->
            <button type="submit" class="btn btn-primary kmn-theme">lihat</button>
            <div class="m-2">&nbsp;</div>
            <div class="h-5" style="color:red; opacity: 0;" id="warning">antrian harus diawali dengan huruf, diikuti dengan tiga angka</div>

            {{ if .Footer }}
                {{ template "_footer" . }}
            {{ end }}
        </form>

        <!-- Local Javascript -->
        <script src="/static/js/rtc.js"></script>
    </body>
</html>
