hr.hr-highlight {
    width: 60%;
    height: 2px;
    align-self: center;
    background-color:rgb(0, 62, 126);
    color:rgb(0, 62, 126);
    opacity: 1;
}

.hr-dotted-inline {
    width: 100%;
    position: relative;
    margin: 15px;
    background-image: linear-gradient(to right, black 10%, rgba(255,255,255,0) 0%);
    background-position: center;
    background-size: 20px 1px;
    background-repeat: repeat-x;            
}

.kmn-theme {
    background-color: rgb(0, 62, 126);
}

/* OTP-like input */
.qinput {
    width: 90px;
    height: 90px;
    font-size: 50px;
    text-align: center;

    transition: all 0.15s ease-in-out;
    background-color: #F3F6F9;

    /* Override <input> style*/
    border-style: none;
    outline: none;
}

.qinput:active,
.qinput:focus {
    box-shadow: 0 0 8px rgba(97, 180, 229, 1);
}