hr.hr-highlight {
    width: 60%;
    height: 2px;
    align-self: center;
    background-color:#00347e;
    color:#00347e;
    opacity: 1;
}

.hr-dotted-inline {
    width: 100%;
    position: relative;
    margin: 15px;
    background-image: linear-gradient(to right, black 10%, rgba(255,255,255,0) 0%);
    background-position: center;
    background-size: 20px 1px;
    background-repeat: repeat-x;            
}

.kmn-theme {
    background-color: #00347e;
}

button.branch-card {
    width: 300px;
    text-align: center;
    padding: 10px;
    background-color: white;
    border: solid 3px #00347e;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.branch-card:hover {
    background-color: #2d85de72;
    cursor: pointer;
}

button.branch-card:focus {
    background-color: #2d85de72;
    outline: none;
}

div.queue-card {
    text-align: center;
    padding: 10px;

    border: solid 3px #00347e;
    border-radius: 10px;
    border-left-width: 15px !important;
}

div.dot {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: 10px;
}

div.vertical-line {
    width: 3px;
    background-color: black;
    /* TODO: must be set proportional to card width*/
    height: 50px;
}

footer {
    margin: 0 10% 0 10%;
    border-radius: 3px;

    overflow: hidden;
}

/* #sticky-footer {
    background-color:gold;
    
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    max-height: 100px;
}

.info-card {
    line-height: 1.6;

    overflow-y: auto;
    overflow-x: hidden;
} */

/* OTP-like input */
.qinput {
    font-size: 40px;
    text-align: center;

    transition: all 0.15s ease-in-out;
    background-color: #F3F6F9;

    /* Override <input> style*/
    border-style: none;
    outline: none;
}

.qinput:active,
.qinput:focus {
    box-shadow: 0 0 8px rgba(97, 180, 229, 1);
}

.fadein-out {
    animation: fadein_out 5s ease-out;
    animation-iteration-count: 1;
}
  
@keyframes fadein_out {
    10% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
  }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: none;
}